# Virtual environment
.venv/

# Data (raw data ignored, but processed DB included for cloud deployment)
data/raw/
# data/processed/ -- COMMENTED OUT: we need superstore.duckdb in cloud

# Python
__pycache__/
*.pyc
*.egg-info/
.pytest_cache/

# IDE
.vscode/
.idea/

# Output
analytics/output/
